{% extends 'base.html.twig' %}

{% block title %}About
{% endblock %}

{% block main %}
<br/>
<div class="container" align="center">
	<h3>Welcome to the Manortown United FC website.</h3>
	<p>
		We hope that this site will help to keep players and members informed and connected to Club news and events.

											Please spread the word and tell your family and friends about your club - Manortown United FC.
	</p>


	<h4>Manortown United F.C. Mission Statement</h4>
	<p>
		Our Mission is to build a successful Soccer Club for the benefit of Boys, Girls and Adults of all abilities.
										We will encourage the spirit of Fair Play.
										Strive to make a significant contribution to the development of young people while at the same time providing fun, enjoyment and satisfaction.
										We will provide appropriate training for Team managers and continue to develop and improve our facilities.
	</p>

	<h4>Manortown Past And Present</h4>
	<p>
		Manortown United F.C. is a football club based in Perrystown, Dublin, Ireland.
										Our Club has Senior Teams competing in the Amateur Football League (AFL) and also in the Leinster Senior League (LSL).
	</p>

	<h5>Youth</h5>
	<p>
		Our Youth set-up has been very successful through the years and has provided International Players at most levels,
							    the most famous of these former players include Niall Quinn, who at the time of his retirement was the country's all-time scorer with 21 goals and Barry Quinn,
							    who captained Ireland to victory in the U17 European Championship in 1998.
	</p>

	<h5>Schoolboy</h5>
	<p>
		Our Schoolboy section develops players from the age of 8 to 18 years, competing in various football competitions such as the Dublin District Schoolboys league (DDSL),
							    and other Cup Competitions
	</p>

	<h5>Academy</h5>
	<p>
		We also have a very successful Academy for our younger members where we focus on the fun element of football but also to encourage development in football skills.
	</p>
</div>

{% endblock %}
