{# templates/pages/committee.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Committee{% endblock %}

{% block main %}
<br />
<div class="container" align="center">
    <h2>Manortown Committee Members</h2>
  </div>
{% endblock %}
