{% extends 'base.html.twig' %}

{% block title %}Manortown United
{% endblock %}

{% block main %}
	<br/>
	<div class="container" align="center">
		<img src="/images/customLogo.png" alt="Manortown Logo" width="100%" height="100%">
		<h3>Welcome to the Manortown United FC website</h3>
		<p>
			We hope that this site will help to keep players and members informed and connected to Club news and events.
		</p>
		<p>
			Please spread the word and tell your family and friends about your club - Manortown United FC.
		</p>
	</div>


{% endblock %}

