{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block main %}
<style>
.error {color: red}
</style>

<br />
<div class="container" align="center">
    <h2>Login Page</h2>
    {% if errors is defined %}
        <span class="error">{{ error.message }}</span>
      {% endif %}
    <form action="{{ path('login') }}" method="post" accept-charset="UTF-8">

      <input type="text" name="_username" value="{{ lastUsername }}" placeholder="Username">

      <input type="password" name="_password" placeholder="Password">

      <button type="submit">Login</botton>
    </form>
  </div>
{% endblock %}
