{# templates/pages/team.html.twig #}
{# page displaying list of teams from a database #}

{% extends 'base.html.twig' %}

{% block title %}Teams{% endblock %}

{% block main %}
  <br/>
  <div class="container" align="center">
    <h2>Manortown United Teams</h2>
    {% if teams %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Team</th>
            <th scope="col">Age Group</th>
          </tr>
        </thead>
        <tbody>
          {% for team in teams %}
            <tr class="table-secondary">
              <td>{{team.teamName}}</td>
              <td>{{team.teamAgeGroup}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>
        No teams to display</p>
      {% endif %}
    </div>

  {% endblock %}
