{% extends 'base.html.twig' %}

{% block title %}Hello Shopper!{% endblock %}

{% block main %}
<br/>
  <div class="container" align="center">
    <h2>List of available products</h2>
    {% if products %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
            <th scope="col">Add</th>
            <th scope="col">Remove</th>
            <th scope="col">Total Items</th>
            <th scope="col">Total Cost</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for products in products %}
            <tr class="table-secondary">
              <td>{{products.name}}</td>
              <td>{{products.price}}</td>
              <td>{{products.size}}</td>
              <td><button id="dn1plus" class="btn btn-info btn-sm">+</button></td>
              <td><button id="dn1min" class="btn btn-info btn-sm">-</button></td>
              <td><input type="text" id="d1qty" size="2" value="0"/></td>
              <td><input type="text" id="currentCost" value="0.00"/></td>
              <td><button type="button" class="btn btn-primary btn-sm">Add to Cart</button></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No items to display</p>
    {% endif %}
</div>
{% endblock %}

{% block cart %}

<!-- Shopping Cart Part of the Page -->
<div data-role="page" id="order" data-theme="a">
	<div role="main" class="ui-content">
		<h2>Order</h2>

		order here address:
		<input type="text" name="address" id="address" value="">

		<button id="placeorder" class="ui-btn">Button</button>

	</div>
	<!-- /content -->
</div>
{% endblock %}
