<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" content="initial-scale=1.0">
    <title>
      {% block title %}Welcome!{% endblock %}
    </title>
    {% block stylesheets %}
      <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css"/>
      <style>
        .clock {
          text-align: center;
        }
        body {
          background-color: #f1f1f1;
          position: relative;
          padding-bottom: 58px;
          min-height: 100vh;
        }
        footer {
          text-align: center;
          color: #FFFFFF;
          background-color: #55595c;
          padding: 20px;
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      </style>
    {% endblock %}
  </head>
  <body class="clock" onload="updateClock();">
    <span id="clock"></span>
    <a href="api">Check your weather</a>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="home">THE TOWN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="team">Teams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="coach">Manager Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gallery">Photo Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About Manortown</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Useful Information</a>
              <div class="dropdown-menu" style="">
                <a class="dropdown-item" href="events">Events</a>
                <a class="dropdown-item" href="playerReg">Player Registration</a>
                <a class="dropdown-item" href="comp">Competitions</a>
                <a class="dropdown-item" href="comm">Committee</a>
                <a class="dropdown-item" href="findUs">Find Us</a>
              </div>
            </li>
            <li class="nav-item" style="float: right">
              <a class="nav-link" href="shop">Shop</a>
            </li>
            <li class="nav-item" style="float: right">
              <a class="nav-link" href="register">Register</a>
            </li>
            <li class="nav-item" style="float: right">
              <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item" style="float: right">
              <a class="nav-link" href="{{ path('logout') }}">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      {% block main %}
        <div class="container"></div>
      {% endblock %}
      {% block cart %}{% endblock %}
    </main>


    <!-- footer with Javascript to automate the year displayed -->
    <footer>
      {% block footer %}&copy; <script>document.write(new Date().getFullYear())
      </script>, Bart Rybak - Technological University Dublin{% endblock %}
    </footer>

    {% block javascripts %}
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

      <!-- Digital clock taken from -> https://codepen.io/iiSeptum/pen/cwHeL and https://stackoverflow.com/questions/8264463/jquery-live-clock-with-optional-24-or-12-hours -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script>
        $(document).ready(function() {
          setInterval('updateClock()', 1000);
        });
        function updateClock() {
          var currentTime = new Date();
          $('#clock').css({'color': '#14782f', 'text-shadow': '0 0 6px #c9c614'});
          var currentHours = currentTime.getHours();
          var currentMinutes = currentTime.getMinutes();
          var currentSeconds = currentTime.getSeconds();

          // Pad the minutes and seconds with leading zeros, if required
          currentMinutes = (
            currentMinutes < 10
              ? "0"
              : ""
          ) + currentMinutes;
          currentSeconds = (
            currentSeconds < 10
              ? "0"
              : ""
          ) + currentSeconds;

          // Choose either "AM" or "PM" as appropriate
          var timeOfDay = (currentHours < 12)
            ? "AM"
            : "PM";

          // Convert the hours component to 12-hour format if needed
          currentHours = (currentHours > 12)
            ? currentHours - 12
            : currentHours;

          // Convert an hours component of "0" to "12"
          currentHours = (currentHours == 0)
            ? 12
            : currentHours;

          // Compose the string for display
          var currentTimeString = currentHours + ":" + currentMinutes + ":" + currentSeconds + " " + timeOfDay;

          $("#clock").html(currentTimeString);
        }
      </script>
      <script>
        // Weather API -> https://codepen.io/Vanagasa/pen/XRRWJE
        var temp;
        var cond;
        $(document).ready(function position() {
          $.getJSON('http://ip-api.com/json', function(data) {
            var lat = data.lat;
            var lon = data.lon;
            var location = data.city + ', ' + data.country;
            $('.country').html(location);
            getWeather(lat, lon);
          })
        });
        function getWeather(lat, lon) {
          $.getJSON("http://api.openweathermap.org/data/2.5/weather?lat=" + lat + "&lon=" + lon + "&APPID=b2d3758d7d1b3c72dba58b807cebbe7e", function(data) {
            temp = (data.main.temp * 9 / 5 - 459.67).toFixed(1);
            $('.tempeture').html(temp + '°F');
          });
        }
        var tempF = true;
        function fc() {
          if (tempF === true) {
            $('.tempeture').html(((temp - 32) / 1.8).toFixed(1) + '°C');
            tempF = true;
          } else {
            $('.tempeture').html(temp + '°F');
            tempF = false;
          }
        }
      </script>
    {% endblock %}
  </body>
</html>
