{# templates/pages/orders.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Orders
{% endblock %}

{% block main %}
<script src="https://www.chartjs.org/dist/2.8.0/Chart.min.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
<br/>
  <div class="container" align="center">  
    <h2>Orders</h2>
    {% if orders %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Products Ordered</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Price in EURO</th>
          </tr>
        </thead>
        <tbody>
          {% for orders in orders %}
            <tr class="table-secondary">
              <td>{{orders.productsordered}}</td>
              <td>{{orders.quantity}}</td>
              <td>{{orders.totalcost}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No items to display</p>
    {% endif %}
    <canvas id="myChart" width="200" height="100"></canvas>
</div>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Jersey', 'Shorts', 'Socks'],
        datasets: [{
            label: 'Orders',
            data: [3, 3, 10],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,
            borderColor:'#777'
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        title: {
            display:true,
            text:'Total Sales to Date',
            fontSize:25
        },
        legend: {
            labels:{
                fontColor:'#000'
            }            
        }
    }
});
</script>
{% endblock %}