{% extends 'base.html.twig' %}

{% block title %}NEWS{% endblock %}

{% block main %}

<!-- News API -->
<!-- Formatting including css thanks to https://codepen.io/ezefreecoder/pen/ZrXoRP -->
<div class="container">
<link rel="stylesheet" href="css/news.css" type="text/css">
	<div class="header">
		<h1>News</h1>
	</div>
	<div class="content">
		<button id="getNews">
			<span>Click to Get News</span>
		</button>
	</div>
	<div class="news"></div>

</div>

<script>
const newsContent = document.querySelector('.news');
const newsButton = document.getElementById('getNews');

//Store the URL of the JSON we want to retrieve in a variable
const requestURL = 'https://newsapi.org/v2/everything?q=football&sortBy=publishedAt&apiKey=yourAPIkey'; //my own API key from newsapi.org

// ASYNC/AWAIT
const getNews = async () => {
  const response = await fetch(requestURL, {method: 'get'}); // FETCH makes it easy to get data from APIs
  const json = await response.json();
  return json.articles;
}
getNews().then(newsData => {
  let current = 0;
  newsButton.addEventListener('click', () => { // addEventListener replaces jquery $.click()
    if (current === 20) { current = 0; }
    displayNew(newsData[current]);
    current++;
  });
});

function displayNew(newsItem) {
  const content = `<a target="_blank" href="${newsItem.url}">
    <article>
      <h5>${newsItem.title}</h5>
    </article>
  </a>`;
  newsContent.innerHTML = content;
}
</script>

{% endblock %}
